github "Alamofire/Alamofire"
github "SnapKit/Masonry" 
github "CoderMJLee/MJRefresh" 
github "CoderMJLee/MJExtension" 
github "steipete/Aspects" 
github "SVProgressHUD/SVProgressHUD" 
github "nixzhu/MonkeyKing" 